<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/input.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<h2>PlayList</h2>
<form th:action="@{/insert}" method="post">
<div>
<p>登録する曲名とアーティスト名を入力してください</p>
title song:<input type="text" name="song_name"><br>
Artist:<input type="text" name="singer"><br>
<input type="submit" value="確認" name="check">
<input type="submit" value="戻る" name="return">
</div>
</form>
<div class="table">
<table>
<tr class="title">
<td></td>
<td>Title Song</td>
<td>Artist</td>
</tr>
<tr th:each="music:${list}">
<td th:text="${music.song_id}"></td>
<td th:text="${music.song_name}"></td>
<td th:text="${music.singer}"></td>
</tr>
</table>
</div>
</body>
</html>