<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/update.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<h2>PlayList</h2>
<div>
<form th:action="@{/updateform}" method="post">
<p>更新する曲のidを入力してください</p>
<input type="text" name="song_id"><br>
<input type="submit" value="更新" name="update">
<input type="submit" value="戻る" name="return">
</form>
<div th:if="${error}">
<p th:text="${error}"></p>
</div>
</div>
<div class="table">
<table>
<tr class="title">
<td></td>
<td>Title Song</td>
<td>Artist</td>
</tr>
<tr th:each="music:${list}">
<td th:text="${music.song_id}"></td>
<td th:text="${music.song_name}"></td>
<td th:text="${music.singer}"></td>
</tr>
</table>
</div>
</body>
</html>